
.next_buttons, #start_dis_timer, .next_assess{
/*    display: inline-block;*/
    font-family: "Comic Sans MS";
    width : auto;
    text-align: center;
/*    border : 1px solid grey;*/
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 18px;
    transition: .3s all ease-in-out;
    position: absolute;
    right: 5px;
    bottom: -60px;
    font-weight: 550;
    font-size: 25px;
    background-color: white;
    box-shadow: 2px 2px 2px #639390;
}

#next_q_btn {
    transition: .3s all ease-in-out;
}

#discussion_btn, #next_q_btn {
    position: absolute;
}

.next_buttons_link {
    cursor: pointer;
}

.next_buttons_link:hover{
    color: dodgerblue;
}


.option {
/*    display: inline-block;*/
    height : auto;
    width: 80%;
    text-align: center;
    border : 1px solid grey;
    border-radius: 8px;
    cursor: pointer;
    padding : 5px; 
    margin: 20px;
/*    display: none;*/
}

.option_selected {
    border : 2px solid blue;
}

#feedback {
    height: auto;
    padding: 5px;
}

.feedback_correct {
    background-color: darkseagreen;
    border : 2px solid darkgreen;
/*    border-color: darkgreen;*/
    border-radius: 5px;
}

.feedback_wrong {
    background-color: darksalmon;
    border : 2px solid darkred;
/*    border-color: darkred;*/
    border-radius: 5px;
}
.page {
    position: absolute;
    margin: 60px auto;
    width: 1200px;
    height:700px;
    background-color: #D0ECEC;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #639390;
}

body {
    width: 70%;
    margin: 100px auto;
    background-color: #F5FFFF;
}

#sing_container, #multi_container {
/*    position: absolute;*/
    display: none;
}

#option_container, {
    height: 500px;
    position: static;
}



#container {
    width: 1200px;
    margin: 0 auto;
/*    margin-top: 200px;*/
}

main {
/*    background-color: #D0ECEC;*/
/*    height: 700px;*/
    position: relative;
    overflow: hidden;
}

.player {
/*
    position: relative;
    left: 10%;
    top: 30px;
*/
    position: absolute;
    margin: auto;

    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
}

h1 {
    font-family: "Comic Sans MS"
}

p {
    font-family: "Open Sans";
    font-weight: 550;
/*    display: inline-block;*/
}

img.welcome_pic {
    position: absolute;
    top: -40px;
    right: 0px;
/*    display: none;*/
}

header {
    position: relative;
}

span {
    color: #72A4AA;
}
